
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(27, 38, 59) ;
    scroll-behavior: smooth;  
}
section {
    background-color: rgb(27, 38, 59);
}
    * {
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
a {
    text-decoration: none;
}
h1 {
    font-size: 7rem;
    font-family: 'Inter', sans-serif;
    font-weight: 900 !important;
}
body {
    padding: 100vh 0 0 0;
}
/* Containers ETC */
 div.navbar {
    position: fixed;
    width: 100%;
    max-width: 1200px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    top: 20px;
    border-radius: 30px;
    transition: 1s all;
}
body.scrolled div.navbar {

    background-color: rgba(0,0,0,0.4);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255,255,255,0.4);
}
nav {
    justify-content: space-between;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 16px;
}
@media screen and (min-width: 480px) {
   nav {
        flex-direction: row;
   }
}
nav a,
nav > h1 {
    padding: 15px 8px;
    color: white;
    text-decoration: none;
    opacity: 1;
    display: flex;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
}
div.links {
    align-items: flex-end;
    display: flex;
    gap: 50px;
}
.Rafioli > img {  
    display: flex;
    max-height: 3rem; 
}
.top-header {
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: #6919ff;
    background-image: url('img/Cool grid.webp');
    background-position: center;
    background-size: cover;
    padding: 24px;
    min-height: 100vh;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.page-section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
    height: 100vh;
    top: 0;
    border: 1px solid rgba(255, 255, 255, 1);
}
div.fotoik {
    height: 100vh;
    width: 40vw;
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
}
div.fotoik  img {
    width: 100%;
    height: calc(100% - 2px);
    object-fit: cover;
    object-position: 30% 50%;
}
div.textik {
    display: inline-block;
    padding-inline-start: 65rem;
}
p.aboutkopje {
    border: 1px solid #6919ff;
    border-radius: 20px;
    padding: 7px 10px;
    display: initial;
    color: #6919ff;
    font-weight: 600;
}
h1.developer {
    font-size: 40px;
    padding: 2rem 5px;
}
p.abouttext {
    padding: 0 2px;
    font-size: 20px;
    color: rgb(150 161 192)
}
#contact  {
    display: flex;
    flex-direction: column;
    
}

p.contactkopje {
    border: 1px solid #6919ff;
    border-radius: 20px;
    padding: 7px 10px;
    color: #6919ff;
    font-weight: 600;
    margin: 0 auto;
}
h1.problemsolve {
    font-size: 40px;
    padding: 2rem 0px;
text-align: center;
}

p.contacttext {
    font-size: 20px;
    color: rgb(150 161 192);
    padding-bottom: 2rem;
text-align: center;
}
div.contactknopjes  img{
    border: 1px solid #6919ff;
    border-radius: 200px;
    width: 100px;
    height: 100px;
}
div.contactknopjes  {
    text-align: center;
justify-content: space-around;
}
div.contactknopjes a {
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
}
.twitter img {
    padding: 15px;
}
.discord img {
    padding: 10px;
}
.hero {
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}

